.etapiRaboti {
    margin-top: 30px;
    padding: 50px 20px;
    font-family: sans-serif;
    text-align: center;
}

.etapiRaboti h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #131018;
}

.etapiRaboti .circle-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.etapiRaboti .circle-box.circle {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.etapiRaboti .icon-wrapper {
    position: relative;
    display: inline-block;
}

.etapiRaboti .icon-wrapper .orange {
    display: block;
    width: 100%;
}

.etapiRaboti .icon-wrapper .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.etapiRaboti .arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.etapiRaboti .arrow {
    display: block;
    width: 40px;
}

@media (max-width: 768px) {
    .etapiRaboti h1{
        margin-bottom: 20px;
    }
    .etapiRaboti .circle-box {
        flex-wrap: wrap;
        align-items: center;
    }

    .etapiRaboti .arrow-wrapper {
        display: none;
    }

    .etapiRaboti .circle {
        width: 100%;
        max-width: 200px;
    }
}
